@using SchoolAssistant.Common
@model SchoolAssistant.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="col-md-4 offset-md-4">
        <p>We have:</p>
        <ul class="list-group">
            <li class="list-group-item bg-info">Courses: @Model.CoursesCount</li>
            <li class="list-group-item bg-light">Departments: @Model.DepartmentsCount</li>
            <li class="list-group-item bg-info">Students: @Model.StudentsCount</li>
            <li class="list-group-item bg-light">Teachers: @Model.TeachersCount</li>
        </ul>
    </div>
</div>
