@model SchoolAssistant.Web.ViewModels.Courses.SingleCourseViewModel
@{
    this.ViewData["Title"] = Model.Name;
}
<h1>@this.ViewData["Title"]</h1>
<hr />
<div>
    <div class="card-body">
        <h6>Department: @Model.DepartmentName</h6>
        <h6>Created By: @Model.CreatedByUserUserName</h6>
        <h6>Created On: @Model.CreatedOn.ToShortDateString()</h6>
    </div>
</div>
<div class="row">
    @foreach (var lecture in Model.Lectures)
    {
        <div class="card text-center col-md-6">
            <div class="card-header">
                @lecture.Name
                @lecture.Id
            </div>
            <a asp-action="LecturesById" asp-route-id="@lecture.Id" class="card-link">Go To Lecture</a>
        </div>
    }
</div>
<hr />
<p class="card-text">@Model.Description</p>
